In [7]:
import requests
from requests_throttler import BaseThrottler
from bs4 import BeautifulSoup

In [8]:

pers_id = 1
x = []

for element in range(10):
    x.append("http://www.pdavis.nl/ShowBiog.php?id=" + str(pers_id))
    pers_id+=1
x

['http://www.pdavis.nl/ShowBiog.php?id=1',
 'http://www.pdavis.nl/ShowBiog.php?id=2',
 'http://www.pdavis.nl/ShowBiog.php?id=3',
 'http://www.pdavis.nl/ShowBiog.php?id=4',
 'http://www.pdavis.nl/ShowBiog.php?id=5',
 'http://www.pdavis.nl/ShowBiog.php?id=6',
 'http://www.pdavis.nl/ShowBiog.php?id=7',
 'http://www.pdavis.nl/ShowBiog.php?id=8',
 'http://www.pdavis.nl/ShowBiog.php?id=9',
 'http://www.pdavis.nl/ShowBiog.php?id=10']

In [27]:
counter = 0 

for element in x:
    bt = BaseThrottler(name="base-throttler", delay=1.5)
    r = requests.get(x[counter])
    bt.start()
    #throttled_requests = bt.submit(r)
    print(throttled_requests)
    bt.shutdown()
    soup = BeautifulSoup(r.text, "html.parser")
    table = soup.find("table", class_="tbl width100")
    name = table.find("td", class_="tblfil", colspan="3")
    name = name.text
    print(name)
    counter+=1

[Thread=MainThread - 2017-02-20 18:35:50,136 - INFO]: Starting base throttler 'base-throttler'...
[Thread=Thread-50 - 2017-02-20 18:35:50,204 - INFO]: Starting main loop...
[Thread=Thread-50 - 2017-02-20 18:35:50,244 - INFO]: Exited from main loop.
[Thread=MainThread - 2017-02-20 18:35:50,305 - INFO]: Starting base throttler 'base-throttler'...
[Thread=Thread-51 - 2017-02-20 18:35:50,320 - INFO]: Starting main loop...
[Thread=Thread-51 - 2017-02-20 18:35:50,355 - INFO]: Exited from main loop.

[ThrottledRequest <<PreparedRequest [GET]>, <Response [200]>, True, None>]
 Charles Adam R.N.
[ThrottledRequest <<PreparedRequest [GET]>, <Response [200]>, True, None>]
 George Biddell Airy

[Thread=MainThread - 2017-02-20 18:35:50,472 - INFO]: Starting base throttler 'base-throttler'...
[Thread=Thread-52 - 2017-02-20 18:35:50,530 - INFO]: Starting main loop...
[Thread=Thread-52 - 2017-02-20 18:35:50,564 - INFO]: Exited from main loop.
[Thread=MainThread - 2017-02-20 18:35:50,621 - INFO]: Starting base throttler 'base-throttler'...
[Thread=Thread-53 - 2017-02-20 18:35:50,661 - INFO]: Starting main loop...
[Thread=Thread-53 - 2017-02-20 18:35:50,702 - INFO]: Exited from main loop.

[ThrottledRequest <<PreparedRequest [GET]>, <Response [200]>, True, None>]
 Bird Allen R.N.
[ThrottledRequest <<PreparedRequest [GET]>, <Response [200]>, True, None>]
 William Allen R.N.

[Thread=MainThread - 2017-02-20 18:35:50,788 - INFO]: Starting base throttler 'base-throttler'...
[Thread=Thread-54 - 2017-02-20 18:35:50,857 - INFO]: Starting main loop...
[Thread=Thread-54 - 2017-02-20 18:35:50,867 - INFO]: Start waiting for new requests...
[Thread=Thread-54 - 2017-02-20 18:35:50,878 - INFO]: Awakening...
[Thread=Thread-54 - 2017-02-20 18:35:50,905 - INFO]: Exited from main loop.
[Thread=MainThread - 2017-02-20 18:35:50,958 - INFO]: Starting base throttler 'base-throttler'...
[Thread=Thread-55 - 2017-02-20 18:35:51,015 - INFO]: Starting main loop...
[Thread=Thread-55 - 2017-02-20 18:35:51,034 - INFO]: Exited from main loop.

[ThrottledRequest <<PreparedRequest [GET]>, <Response [200]>, True, None>]
 Alexander Armstrong, M.D., F.R.S. R.N.
[ThrottledRequest <<PreparedRequest [GET]>, <Response [200]>, True, None>]
 John Ayliff

[Thread=MainThread - 2017-02-20 18:35:51,107 - INFO]: Starting base throttler 'base-throttler'...
[Thread=Thread-56 - 2017-02-20 18:35:51,159 - INFO]: Starting main loop...
[Thread=Thread-56 - 2017-02-20 18:35:51,191 - INFO]: Exited from main loop.
[Thread=MainThread - 2017-02-20 18:35:51,293 - INFO]: Starting base throttler 'base-throttler'...

[ThrottledRequest <<PreparedRequest [GET]>, <Response [200]>, True, None>]
Rev. George Percy Badger
[ThrottledRequest <<PreparedRequest [GET]>, <Response [200]>, True, None>]

[Thread=Thread-57 - 2017-02-20 18:35:51,356 - INFO]: Starting main loop...
[Thread=Thread-57 - 2017-02-20 18:35:51,422 - INFO]: Exited from main loop.
[Thread=MainThread - 2017-02-20 18:35:51,485 - INFO]: Starting base throttler 'base-throttler'...
[Thread=Thread-58 - 2017-02-20 18:35:51,516 - INFO]: Starting main loop...
[Thread=Thread-58 - 2017-02-20 18:35:51,561 - INFO]: Exited from main loop.

 Thomas George Baring
[ThrottledRequest <<PreparedRequest [GET]>, <Response [200]>, True, None>]
 John Barrow

[Thread=MainThread - 2017-02-20 18:35:51,619 - INFO]: Starting base throttler 'base-throttler'...

[ThrottledRequest <<PreparedRequest [GET]>, <Response [200]>, True, None>]
 Philip Beaver R.N.

[Thread=Thread-59 - 2017-02-20 18:35:51,668 - INFO]: Starting main loop...
[Thread=Thread-59 - 2017-02-20 18:35:51,736 - INFO]: Exited from main loop.

In [3]:
soup = BeautifulSoup(r.text, "html.parser")
soup

<!DOCTYPE HTML>

<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link href="misc/pdavis.css" rel="StyleSheet" type="text/css">
<title>Biography of  Charles Adam R.N.</title></link></meta></head>
<body><div id="wrapper">
<a id="Top"></a>
<table class="fullwidthtable">
<tr>
<td class="headlinksleft">
 <img alt="*" src="gif/Bullet.gif">
<a href="index.htm">Home</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Loney.htm">Loney home</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Life.htm">Life &amp; career</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Documents.htm">Documents</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Album.htm">Album</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Ships.htm">Ships</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Portrait.htm">Portrait</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Uniform.htm">Uniform</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Background.htm">Background</a>
<img alt="*" src="gif/Bullet.gif">
</img></img></img></img></img></img></img></img></img></img></td>
<td class="headlinksright"><img alt="*" src="gif/Bullet.gif"><a href="Search.htm"> Search this site </a><img alt="*" src="gif/Bullet.gif"> </img></img></td>
</tr>
</table>
<table class="fullwidthtable">
<tr>
<td><div class="WhiteHeader">William Loney RN - Background</div></td>
</tr>
</table>
<a id="TextTop"></a>
<hr class="colr">
<table class="width100">
<tr>
<td><a href="index.htm">Home</a>-<a href="Loney.htm">Loney</a>-<a href="Background.htm">Background</a>-<a href="Background.htm#BIO">The Royal Navy</a></td>
<td class="pright"> Browse officers in command: <a href="SeaOfficers.php?page=1">A - B</a>; <a href="SeaOfficers.php?page=2">C - E</a>; <a href="SeaOfficers.php?page=3">F - G</a>; <a href="SeaOfficers.php?page=4">H - K</a>; <a href="SeaOfficers.php?page=5">L - O</a>; <a href="SeaOfficers.php?page=6">P - R</a>; <a href="SeaOfficers.php?page=7">S - T</a>; <a href="SeaOfficers.php?page=8">U - Z</a>; <a href="Selecter.php">??</a></td></tr></table>
<hr class="colr">
<table class="tbl width100">
<colgroup><col><col class="width15"><col class="width55"><col class="width15"></col></col></col></col></colgroup><tr><td style="border:none;"> </td><td style="border:none;"> </td><td style="border:none;"> </td><td style="border:none;"> </td></tr><tr><td class="tblfil" colspan="3" style="border-right:none;"><b> Charles Adam R.N.</b></td><td class="tblfil" style="border-left:none;"><a href="OfficerExplanation.htm">Explanation</a></td></tr>
<tr><td colspan="4">Son of the Rt Hon. William Adam, Lord Chief Commissioner of the Jury Court of Scotland.</td></tr>
<tr><td colspan="4"> </td></tr><tr><td class="tblfil2 right">Date (from)</td><td class="tblfil2 right">(Date to)</td><td class="tblfil2" colspan="2">Personal</td>
<tr><td class="right">6 October 1780</td><td> </td><td colspan="2">Born.</td></tr>
<tr><td class="right">20 May 1831</td><td class="right">6 July 1841</td><td colspan="2">M.P. for Clackmannan and Kinross</td></tr>
<tr><td class="right">10 January 1835</td><td> </td><td colspan="2">K.C.B. (Knight Commander of the Bath).</td></tr>
<tr><td class="right">19 September 1853</td><td> </td><td colspan="2">Died.</td></tr>
<tr><td colspan="4">Literature: (<a href="ShowBooks.php?id=*23*56*">DNB; Stenton</a>).</td></tr>
<tr><td colspan="4"> </td></tr><tr><td class="tblfil2 right">Date</td><td class="tblfil2" colspan="3">Rank</td></tr>
<tr><td class="right">15 December 1790</td><td colspan="3">Entered Navy</td></tr>
<tr><td class="right">8 February 1798</td><td colspan="3">Lieutenant</td></tr>
<tr><td class="right">16 May 1798</td><td colspan="3">Commander</td></tr>
<tr><td class="right">12 June 1799</td><td colspan="3">Captain</td></tr>
<tr><td class="right">27 May 1825</td><td colspan="3">Rear-Admiral</td></tr>
<tr><td class="right">10 January 1837</td><td colspan="3">Vice-Admiral</td></tr>
<tr><td class="right">8 January 1848</td><td colspan="3">Admiral</td></tr>
<tr><td colspan="4"> </td></tr><tr><td class="tblfil2 right">Date from</td><td class="tblfil2 right">Date to</td><td class="tblfil2" colspan="2">Service</td></tr>
<tr><td class="right">1799</td><td> </td><td colspan="2">Captain in <a href="ShowShip.php?id=2463">Sybille</a>, frigate</td></tr>
<tr><td class="right">23 May 1803</td><td class="right">1805</td><td colspan="2">Captain in <a href="ShowShip.php?id=2391">Chiffonne</a>, frigate (French, captured by him in 1801)</td></tr>
<tr><td class="right">27 August 1805</td><td class="right">6 April 1810</td><td colspan="2">Captain in <a href="ShowShip.php?id=1977">Resistance</a></td></tr>
<tr><td class="right">1811</td><td class="right">1813</td><td colspan="2">Captain in <a href="ShowShip.php?id=1627">Invincible</a></td></tr>
<tr><td class="right">16 May 1814</td><td class="right">29 June 1814</td><td colspan="2">Captain in <a href="ShowShip.php?id=1599">Impregnable</a></td></tr>
<tr><td class="right">15 December 1814</td><td class="right">7 February 1816</td><td colspan="2">Acting Captain in <a href="ShowShip.php?id=2015">Royal Sovereign</a></td></tr>
<tr><td class="right">20 July 1821</td><td class="right">25 May 1825</td><td colspan="2">Captain in <a href="ShowShip.php?id=2015">Royal Sovereign</a></td></tr>
<tr><td class="right">1 November 1834</td><td class="right">23 December 1834</td><td colspan="2">Commissioner of the Admiralty (1st Naval Lord)</td></tr>
<tr><td class="right">25 April 1835</td><td class="right">8 September 1841</td><td colspan="2">Commissioner of the Admiralty (1st Naval Lord)</td></tr>
<tr><td class="right">17 August 1841</td><td class="right">27 December 1844</td><td colspan="2">Commander-in-chief, North America and West Indies (flag in Illustrious)</td></tr>
<tr><td class="right">24 July 1846</td><td class="right">20 July 1847</td><td colspan="2">Commissioner of the Admiralty (1st Naval Lord)</td></tr>
<tr><td class="right">1847</td><td> </td><td colspan="2">Governor of Greenwich Hospital</td></tr>
</tr></table>
<table class="width100"><tr><td>
<a href="#Top">Top</a>
</td><td class="pright">

</td></tr>
</table>
<hr class="colr">
<span class="headlinksleft">
 <img alt="*" src="gif/Bullet.gif">
<a href="index.htm">Home</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Loney.htm">Loney home</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Life.htm">Life &amp; career</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Documents.htm">Documents</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Album.htm">Album</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Ships.htm">Ships</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Portrait.htm">Portrait</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Uniform.htm">Uniform</a>
<img alt="*" src="gif/Bullet.gif">
<a href="Background.htm">Background</a>
<img alt="*" src="gif/Bullet.gif">
</img></img></img></img></img></img></img></img></img></img></span>
<hr class="colr">
<table class="right">
<tr>
<td><a href="http://validator.w3.org/check?uri=referer"><img alt="Valid HTML 5.0" src="png/html5.png"/></a></td>
</tr>
</table>
</hr></hr></hr></hr></div></body>
</html>

In [4]:
table = soup.find("table", class_="tbl width100")
table

<table class="tbl width100">
<colgroup><col><col class="width15"><col class="width55"><col class="width15"></col></col></col></col></colgroup><tr><td style="border:none;"> </td><td style="border:none;"> </td><td style="border:none;"> </td><td style="border:none;"> </td></tr><tr><td class="tblfil" colspan="3" style="border-right:none;"><b> Charles Adam R.N.</b></td><td class="tblfil" style="border-left:none;"><a href="OfficerExplanation.htm">Explanation</a></td></tr>
<tr><td colspan="4">Son of the Rt Hon. William Adam, Lord Chief Commissioner of the Jury Court of Scotland.</td></tr>
<tr><td colspan="4"> </td></tr><tr><td class="tblfil2 right">Date (from)</td><td class="tblfil2 right">(Date to)</td><td class="tblfil2" colspan="2">Personal</td>
<tr><td class="right">6 October 1780</td><td> </td><td colspan="2">Born.</td></tr>
<tr><td class="right">20 May 1831</td><td class="right">6 July 1841</td><td colspan="2">M.P. for Clackmannan and Kinross</td></tr>
<tr><td class="right">10 January 1835</td><td> </td><td colspan="2">K.C.B. (Knight Commander of the Bath).</td></tr>
<tr><td class="right">19 September 1853</td><td> </td><td colspan="2">Died.</td></tr>
<tr><td colspan="4">Literature: (<a href="ShowBooks.php?id=*23*56*">DNB; Stenton</a>).</td></tr>
<tr><td colspan="4"> </td></tr><tr><td class="tblfil2 right">Date</td><td class="tblfil2" colspan="3">Rank</td></tr>
<tr><td class="right">15 December 1790</td><td colspan="3">Entered Navy</td></tr>
<tr><td class="right">8 February 1798</td><td colspan="3">Lieutenant</td></tr>
<tr><td class="right">16 May 1798</td><td colspan="3">Commander</td></tr>
<tr><td class="right">12 June 1799</td><td colspan="3">Captain</td></tr>
<tr><td class="right">27 May 1825</td><td colspan="3">Rear-Admiral</td></tr>
<tr><td class="right">10 January 1837</td><td colspan="3">Vice-Admiral</td></tr>
<tr><td class="right">8 January 1848</td><td colspan="3">Admiral</td></tr>
<tr><td colspan="4"> </td></tr><tr><td class="tblfil2 right">Date from</td><td class="tblfil2 right">Date to</td><td class="tblfil2" colspan="2">Service</td></tr>
<tr><td class="right">1799</td><td> </td><td colspan="2">Captain in <a href="ShowShip.php?id=2463">Sybille</a>, frigate</td></tr>
<tr><td class="right">23 May 1803</td><td class="right">1805</td><td colspan="2">Captain in <a href="ShowShip.php?id=2391">Chiffonne</a>, frigate (French, captured by him in 1801)</td></tr>
<tr><td class="right">27 August 1805</td><td class="right">6 April 1810</td><td colspan="2">Captain in <a href="ShowShip.php?id=1977">Resistance</a></td></tr>
<tr><td class="right">1811</td><td class="right">1813</td><td colspan="2">Captain in <a href="ShowShip.php?id=1627">Invincible</a></td></tr>
<tr><td class="right">16 May 1814</td><td class="right">29 June 1814</td><td colspan="2">Captain in <a href="ShowShip.php?id=1599">Impregnable</a></td></tr>
<tr><td class="right">15 December 1814</td><td class="right">7 February 1816</td><td colspan="2">Acting Captain in <a href="ShowShip.php?id=2015">Royal Sovereign</a></td></tr>
<tr><td class="right">20 July 1821</td><td class="right">25 May 1825</td><td colspan="2">Captain in <a href="ShowShip.php?id=2015">Royal Sovereign</a></td></tr>
<tr><td class="right">1 November 1834</td><td class="right">23 December 1834</td><td colspan="2">Commissioner of the Admiralty (1st Naval Lord)</td></tr>
<tr><td class="right">25 April 1835</td><td class="right">8 September 1841</td><td colspan="2">Commissioner of the Admiralty (1st Naval Lord)</td></tr>
<tr><td class="right">17 August 1841</td><td class="right">27 December 1844</td><td colspan="2">Commander-in-chief, North America and West Indies (flag in Illustrious)</td></tr>
<tr><td class="right">24 July 1846</td><td class="right">20 July 1847</td><td colspan="2">Commissioner of the Admiralty (1st Naval Lord)</td></tr>
<tr><td class="right">1847</td><td> </td><td colspan="2">Governor of Greenwich Hospital</td></tr>
</tr></table>

In [5]:
name = table.find("td", class_="tblfil", colspan="3")
name = name.text

In [6]:
name = name.split( )
type(name)

list

In [7]:
name.remove("R.N.")
name

['Charles', 'Adam']

In [8]:
date_all = table.find_all("td", class_="tblfil2 right")
date_all

[<td class="tblfil2 right">Date (from)</td>,
 <td class="tblfil2 right">(Date to)</td>,
 <td class="tblfil2 right">Date</td>,
 <td class="tblfil2 right">Date from</td>,
 <td class="tblfil2 right">Date to</td>]

In [9]:
list (date_all)

[<td class="tblfil2 right">Date (from)</td>,
 <td class="tblfil2 right">(Date to)</td>,
 <td class="tblfil2 right">Date</td>,
 <td class="tblfil2 right">Date from</td>,
 <td class="tblfil2 right">Date to</td>]

In [10]:
date = date_all[2]
print(date)
date_from = date_all[3]
print(date_from)

<td class="tblfil2 right">Date</td>
<td class="tblfil2 right">Date from</td>

In [11]:
result = []

for row in table: 
    result.append(row)

for col in row.find_all("td"):
    result.append(col)

result

['\n',
 <colgroup><col><col class="width15"><col class="width55"><col class="width15"></col></col></col></col></colgroup>,
 <tr><td style="border:none;"> </td><td style="border:none;"> </td><td style="border:none;"> </td><td style="border:none;"> </td></tr>,
 <tr><td class="tblfil" colspan="3" style="border-right:none;"><b> Charles Adam R.N.</b></td><td class="tblfil" style="border-left:none;"><a href="OfficerExplanation.htm">Explanation</a></td></tr>,
 '\n',
 <tr><td colspan="4">Son of the Rt Hon. William Adam, Lord Chief Commissioner of the Jury Court of Scotland.</td></tr>,
 '\n',
 <tr><td colspan="4"> </td></tr>,
 <tr><td class="tblfil2 right">Date (from)</td><td class="tblfil2 right">(Date to)</td><td class="tblfil2" colspan="2">Personal</td>
 <tr><td class="right">6 October 1780</td><td> </td><td colspan="2">Born.</td></tr>
 <tr><td class="right">20 May 1831</td><td class="right">6 July 1841</td><td colspan="2">M.P. for Clackmannan and Kinross</td></tr>
 <tr><td class="right">10 January 1835</td><td> </td><td colspan="2">K.C.B. (Knight Commander of the Bath).</td></tr>
 <tr><td class="right">19 September 1853</td><td> </td><td colspan="2">Died.</td></tr>
 <tr><td colspan="4">Literature: (<a href="ShowBooks.php?id=*23*56*">DNB; Stenton</a>).</td></tr>
 <tr><td colspan="4"> </td></tr><tr><td class="tblfil2 right">Date</td><td class="tblfil2" colspan="3">Rank</td></tr>
 <tr><td class="right">15 December 1790</td><td colspan="3">Entered Navy</td></tr>
 <tr><td class="right">8 February 1798</td><td colspan="3">Lieutenant</td></tr>
 <tr><td class="right">16 May 1798</td><td colspan="3">Commander</td></tr>
 <tr><td class="right">12 June 1799</td><td colspan="3">Captain</td></tr>
 <tr><td class="right">27 May 1825</td><td colspan="3">Rear-Admiral</td></tr>
 <tr><td class="right">10 January 1837</td><td colspan="3">Vice-Admiral</td></tr>
 <tr><td class="right">8 January 1848</td><td colspan="3">Admiral</td></tr>
 <tr><td colspan="4"> </td></tr><tr><td class="tblfil2 right">Date from</td><td class="tblfil2 right">Date to</td><td class="tblfil2" colspan="2">Service</td></tr>
 <tr><td class="right">1799</td><td> </td><td colspan="2">Captain in <a href="ShowShip.php?id=2463">Sybille</a>, frigate</td></tr>
 <tr><td class="right">23 May 1803</td><td class="right">1805</td><td colspan="2">Captain in <a href="ShowShip.php?id=2391">Chiffonne</a>, frigate (French, captured by him in 1801)</td></tr>
 <tr><td class="right">27 August 1805</td><td class="right">6 April 1810</td><td colspan="2">Captain in <a href="ShowShip.php?id=1977">Resistance</a></td></tr>
 <tr><td class="right">1811</td><td class="right">1813</td><td colspan="2">Captain in <a href="ShowShip.php?id=1627">Invincible</a></td></tr>
 <tr><td class="right">16 May 1814</td><td class="right">29 June 1814</td><td colspan="2">Captain in <a href="ShowShip.php?id=1599">Impregnable</a></td></tr>
 <tr><td class="right">15 December 1814</td><td class="right">7 February 1816</td><td colspan="2">Acting Captain in <a href="ShowShip.php?id=2015">Royal Sovereign</a></td></tr>
 <tr><td class="right">20 July 1821</td><td class="right">25 May 1825</td><td colspan="2">Captain in <a href="ShowShip.php?id=2015">Royal Sovereign</a></td></tr>
 <tr><td class="right">1 November 1834</td><td class="right">23 December 1834</td><td colspan="2">Commissioner of the Admiralty (1st Naval Lord)</td></tr>
 <tr><td class="right">25 April 1835</td><td class="right">8 September 1841</td><td colspan="2">Commissioner of the Admiralty (1st Naval Lord)</td></tr>
 <tr><td class="right">17 August 1841</td><td class="right">27 December 1844</td><td colspan="2">Commander-in-chief, North America and West Indies (flag in Illustrious)</td></tr>
 <tr><td class="right">24 July 1846</td><td class="right">20 July 1847</td><td colspan="2">Commissioner of the Admiralty (1st Naval Lord)</td></tr>
 <tr><td class="right">1847</td><td> </td><td colspan="2">Governor of Greenwich Hospital</td></tr>
 </tr>,
 <td class="tblfil2 right">Date (from)</td>,
 <td class="tblfil2 right">(Date to)</td>,
 <td class="tblfil2" colspan="2">Personal</td>,
 <td class="right">6 October 1780</td>,
 <td> </td>,
 <td colspan="2">Born.</td>,
 <td class="right">20 May 1831</td>,
 <td class="right">6 July 1841</td>,
 <td colspan="2">M.P. for Clackmannan and Kinross</td>,
 <td class="right">10 January 1835</td>,
 <td> </td>,
 <td colspan="2">K.C.B. (Knight Commander of the Bath).</td>,
 <td class="right">19 September 1853</td>,
 <td> </td>,
 <td colspan="2">Died.</td>,
 <td colspan="4">Literature: (<a href="ShowBooks.php?id=*23*56*">DNB; Stenton</a>).</td>,
 <td colspan="4"> </td>,
 <td class="tblfil2 right">Date</td>,
 <td class="tblfil2" colspan="3">Rank</td>,
 <td class="right">15 December 1790</td>,
 <td colspan="3">Entered Navy</td>,
 <td class="right">8 February 1798</td>,
 <td colspan="3">Lieutenant</td>,
 <td class="right">16 May 1798</td>,
 <td colspan="3">Commander</td>,
 <td class="right">12 June 1799</td>,
 <td colspan="3">Captain</td>,
 <td class="right">27 May 1825</td>,
 <td colspan="3">Rear-Admiral</td>,
 <td class="right">10 January 1837</td>,
 <td colspan="3">Vice-Admiral</td>,
 <td class="right">8 January 1848</td>,
 <td colspan="3">Admiral</td>,
 <td colspan="4"> </td>,
 <td class="tblfil2 right">Date from</td>,
 <td class="tblfil2 right">Date to</td>,
 <td class="tblfil2" colspan="2">Service</td>,
 <td class="right">1799</td>,
 <td> </td>,
 <td colspan="2">Captain in <a href="ShowShip.php?id=2463">Sybille</a>, frigate</td>,
 <td class="right">23 May 1803</td>,
 <td class="right">1805</td>,
 <td colspan="2">Captain in <a href="ShowShip.php?id=2391">Chiffonne</a>, frigate (French, captured by him in 1801)</td>,
 <td class="right">27 August 1805</td>,
 <td class="right">6 April 1810</td>,
 <td colspan="2">Captain in <a href="ShowShip.php?id=1977">Resistance</a></td>,
 <td class="right">1811</td>,
 <td class="right">1813</td>,
 <td colspan="2">Captain in <a href="ShowShip.php?id=1627">Invincible</a></td>,
 <td class="right">16 May 1814</td>,
 <td class="right">29 June 1814</td>,
 <td colspan="2">Captain in <a href="ShowShip.php?id=1599">Impregnable</a></td>,
 <td class="right">15 December 1814</td>,
 <td class="right">7 February 1816</td>,
 <td colspan="2">Acting Captain in <a href="ShowShip.php?id=2015">Royal Sovereign</a></td>,
 <td class="right">20 July 1821</td>,
 <td class="right">25 May 1825</td>,
 <td colspan="2">Captain in <a href="ShowShip.php?id=2015">Royal Sovereign</a></td>,
 <td class="right">1 November 1834</td>,
 <td class="right">23 December 1834</td>,
 <td colspan="2">Commissioner of the Admiralty (1st Naval Lord)</td>,
 <td class="right">25 April 1835</td>,
 <td class="right">8 September 1841</td>,
 <td colspan="2">Commissioner of the Admiralty (1st Naval Lord)</td>,
 <td class="right">17 August 1841</td>,
 <td class="right">27 December 1844</td>,
 <td colspan="2">Commander-in-chief, North America and West Indies (flag in Illustrious)</td>,
 <td class="right">24 July 1846</td>,
 <td class="right">20 July 1847</td>,
 <td colspan="2">Commissioner of the Admiralty (1st Naval Lord)</td>,
 <td class="right">1847</td>,
 <td> </td>,
 <td colspan="2">Governor of Greenwich Hospital</td>]

In [12]:
i = 0 

for l in result: 
    if l.string == "Rank":
        break
    else:
        i+=1

i

27

In [13]:
j = 0 

for k in result[i:]: 
    if k.string == "Date from":
        break
    else:
        j+=1

j

16

In [14]:
print(result [28])
print(result[29])

<td class="right">15 December 1790</td>
<td colspan="3">Entered Navy</td>

In [15]:
i = i+1
a = i
b = (i+j)-4 #sonst überschüssige Info; abschneiden der letzten zwei Zeilen 

for line in result[a:b]:
    if (i <= b):
        y = (result[i].string + " : " + result[i+1].string)
        i = i +2
        print(y)
    else: 
        break

15 December 1790 : Entered Navy
8 February 1798 : Lieutenant
16 May 1798 : Commander
12 June 1799 : Captain
27 May 1825 : Rear-Admiral
10 January 1837 : Vice-Admiral
8 January 1848 : Admiral